body {
  background-color: #fff;
  margin: 0px; padding: 0px;
  color: #000;
}

header{
  padding: 20px 20px 0px 20px;
  height: 70px;
  overflow: none;
  background-color: #2D2D2D;
  color: #FFF;
  font-family: sans-serif;
  box-shadow: 0px 1px 2px #000;
}

section{
  margin: 10px 5px 70px 5px;
  padding: 10px;
  position: relative;
  max-height: 1000px;
  transition: max-height 0.5s;
}

section:nth-child(2){
  margin-top:30px !important;
}

section h1{
  font-family: sans-serif;
  font-weight: 300;
  display: inline-block;
  margin-left: 10px;
}

.completed {
  border: 1px solid green;
}

.collapsed {
  max-height: 70px;
  overflow: hidden;
  transition: max-height 0.5s;
  margin-bottom: 20px !important;
}

.review{
  background-color: #ffb;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  border: solid 1px #444;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 20px;
  box-shadow: inset 1px 1px 3px #993;
  position: relative;
}

.review::before{
  content: "🗒";
  position: absolute;
  top:0px;
  left: 0px;
  box-shadow:inset -1px 0px 3px #000;
  background-color: #555;
  padding-left: 3px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.YouTube{
  height: 0px;
  width: 100%;
  background-color: #fff;
  border: solid 1px #bbb;
  transition: height 300ms;
  padding-top: 30px;
  margin: 10px 0px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.YouTube::before{
  content: attr(data-before);
  position: absolute;
  top: 6px;
  left: 10px;
  color: #ce1126;
  font-weight: bold;

}

.YouTubeShown{
  height: calc(98vw * 0.5625);
  transition: height 300ms;
}

.YouTube iframe{
  margin: 0px 15px;
}

.file{
  display: inline-block;
  font-family: sans-serif;
  margin: 0px;
  padding: 5px 10px 0px 10px;
  font-weight: 300;
  position: relative;
  top: 12px;
  left:0px;
  border-radius: 5px 5px 0px 0px;
  border: solid 1px #BBB;
  z-index: -1;
  background-color: #F5F2F0;
  box-shadow: inset 1px 1px 3px #DDD;
  font-size: 18px;
}

pre {
  border-left: solid 1px #BBB;
  box-shadow: inset 1px 0px 3px #DDD;
}
.file::before{
  content: "📂";
  font-size: 18px;
}
@media (prefers-color-scheme: dark) {
  body{
    background-color: #222;
    color: #FFF;
    font-family: sans-serif;
  }

  header{
    background-color: #181818;
    border-bottom: 1px solid #000;
    box-shadow: none;
  }

  header h1{
    font-weight: 400;
  }

  .review{
    background-color: #ccc;
    box-shadow: inset 1px 1px 3px #aaa;
    color: #000;
  }

  .YouTube{
    background-color: #333;
    border: solid 1px #000;
  }

  .YouTube::before{
    text-shadow: 0px 0px 2px #000;
    color:#fe2136;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  pre {
    border-left: solid 1px #000;
    box-shadow: none;
  }

  .file{
    font-weight: 300;
    border: solid 1px #000;
    z-index: -1;
    background-color: #2D2D2D;
    box-shadow: none;
    font-size: 20px;
  }

  .file::before{
    font-size: 20px;
  }
}
